@font-face {
    font-family: 'Sulphur Point', sans-serif;
    src: url(<link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap" rel="stylesheet">)
}

body {
    background-color: #1E233B;
}

.navbar {
    overflow: auto;
    background-color: black;
    position: relative;
    bottom: 0;
    width: 1300px;
    height: 125px;
    font-family: 'Sulphur Point', sans-serif;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 32px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background: black;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.linked img {
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: -10px;
}

.scrollUp {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
}

.greeting {
    font-family: 'Sulphur Point', sans-serif;
    color: #0EA26C;
    margin-left: 220px;
    margin-top: 125px;
    font-size: x-large;
}

#intro {
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    margin-left: 220px;
    margin-top: 400px;
    font-size: 100px;
    overflow: visible;
    max-width: 1200px;
}

.greg img {
    width: 600px;
    height: 700px;
    margin-left: 1500px;
    margin-top: -700px;
}

.button {
    font-family: 'Sulphur Point', sans-serif;
    background-color: #0EA26C;
    border: none;
    color: white;
    padding: 16px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.hire {
    margin-left: 1550px;
    margin-top: -600px;
}

.hire .button:hover {
    background-color: black;
}

.slideshow {
    position: relative;
    background: #000000f1;
    width: 1000px;
    margin-top: 800px;
    margin-left: 250px;
    padding: 25px;
    border-radius: 10px 10px 0px 0;
}

.slides {
    display: none;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Sulphur Point', sans-serif;
    color: #0EA26C;
}

.dots {
    text-align: center;
    padding: 25px;
    background: rgb(0, 0, 0);
    margin-top: 0px;
    width: 1000px;
    margin-left: 250px;
    border-radius: 0px 0px 10px 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#about {
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    margin-left: 220px;
    margin-top: 450px;
    font-size: 70px;
    overflow: visible;
    max-width: 1500px;
}

#outline, h1 {
    font-family: 'Sulphur Point', sans-serif;
    -webkit-text-fill-color: #1E233B;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 200px;
    margin-top: -900px;
    margin-left: 110px;
}

#skills, h2 {
    font-family: 'Sulphur Point', sans-serif;
    -webkit-text-fill-color: #1E233B;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 200px;
    margin-top: 750px;
    margin-left: 200px;
    margin-right: 200px;
}

.infobox {
    border-radius: 20px 0px 0px 20px;
    background-color: black;
    width: 900px;
    margin-left: 410px;
    padding-bottom: 50px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 30px;
    color: white;
}

h3 {
    margin-left: 50px;
    padding-top: 75px;
}

.one {
    margin-left: 50px;
    padding-right: 200px;
    padding-top: 25px;
}

h4 {
    color: #0EA26C;
    margin-left: 50px;
    padding-top: 80px;
}

.two {
    margin-left: 50px;
    margin-right: 50px;
}

h5 {
    color: #0EA26C;
    margin-left: 50px;
    padding-top: 40px;
    font-size: xx-large;
}

li {
    margin-top: 30px;
    list-style: none;
}

.infobox2 {
    border-radius: 0px 20px 20px 0px;
    background-color: black;
    width: 900px;
    margin-left: 1320px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 30px;
    color: white;
    padding-bottom: 50px;
    margin-top: -1051px;
}

H6 {
    font-size: 37px;
    padding-top: 75px;
    padding-left: 50px;
}

.summary {
    padding-left: 50px;
    margin-top: -35px;
    padding-right: 250px;
}

.heading {
    padding-left: 50px;
    padding-top: 60px;
    color: #0EA26C;
    font-weight: bold;
}

.list {
    padding-left: 50px;
}

.othertools {
    padding-left: 50px;
    padding-top: 38px;
    font-weight: bold;
    color: #0EA26C;
}

.projects {
    -webkit-text-fill-color: #1E233B;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 200px;
    font-family: 'Sulphur Point', sans-serif;
    margin-left: 420px;
    margin-right: 600px;
}

.img {
    background-color: black;
    width: 200px;
    padding: 200px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 200px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 50px;
    font-weight: bold;
    height: 200px;
}

.img, a:link {
    text-decoration: none;
}

.img, a:visited {
    color: white;
}

.auto {
    background-color: black;
    width: 200px;
    padding: 200px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 900px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: -600px;
    margin-bottom: 100px;
    height: 200px;
}

.timetosser {
    background-color: black;
    width: 200px;
    padding: 200px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 1600px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: -700px;
    height: 200px;
}

.time {
    font-size: 20px;
    margin-top: 100px;
    width: 400px;
    margin-left: -100px;
    color: #0EA26C;
}

#btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#btn:hover {
    background-color: #555;
}

.navbar {
    overflow: auto;
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 125px;
    font-family: 'Sulphur Point', sans-serif;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 32px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background: black;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.linked img {
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: -10px;
}

/* The side navigation menu */

.sidenav {
    font-family: 'Sulphur Point', sans-serif;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0EA26C;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

span {
    float: right;
    margin-right: 250px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width:1366px) {
    .navbar {
        overflow: auto;
        background-color: black;
        position: relative;
        bottom: 0;
        width: 1300px;
        height: 125px;
        font-family: 'Sulphur Point', sans-serif;
    }
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 40px 32px;
        text-decoration: none;
        font-size: 20px;
    }
    .navbar a:hover {
        background: black;
        color: black;
    }
    .navbar a.active {
        background-color: #04AA6D;
        color: white;
    }
    .linked img {
        width: 50px;
        height: 50px;
        margin-left: 100px;
        margin-top: -10px;
    }
    .scrollUp {
        background-color: black;
        border: none;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        font-size: 16px;
        line-height: 48px;
        width: 48px;
    }
    .greeting {
        font-family: 'Sulphur Point', sans-serif;
        color: #0EA26C;
        margin-left: 220px;
        margin-top: 125px;
        font-size: x-large;
    }
    #intro {
        font-family: 'Sulphur Point', sans-serif;
        color: white;
        margin-left: 220px;
        margin-top: 400px;
        font-size: 100px;
        overflow: visible;
        max-width: 1200px;
    }
    .greg img {
        width: 600px;
        height: 700px;
        margin-left: 1500px;
        margin-top: -700px;
    }
    .button {
        font-family: 'Sulphur Point', sans-serif;
        background-color: #0EA26C;
        border: none;
        color: white;
        padding: 16px 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
    }
    .hire {
        margin-left: 1550px;
        margin-top: -600px;
    }
    .hire .button:hover {
        background-color: black;
    }
    .slideshow {
        position: relative;
        background: #000000f1;
        width: 1000px;
        margin-top: 800px;
        margin-left: 250px;
        padding: 25px;
        border-radius: 10px 10px 0px 0;
    }
    .slides {
        display: none;
        padding: 20px;
        text-align: center;
        font-size: 30px;
        font-family: 'Sulphur Point', sans-serif;
        color: #0EA26C;
    }
    .dots {
        text-align: center;
        padding: 25px;
        background: rgb(0, 0, 0);
        margin-top: 0px;
        width: 1000px;
        margin-left: 250px;
        border-radius: 0px 0px 10px 10px;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .about2 {
        margin-right: -400px;
    }
    #about {
        font-family: 'Sulphur Point', sans-serif;
        color: white;
        margin-left: 220px;
        margin-top: 750px;
        font-size: 70px;
        overflow: visible;
        max-width: 1500px;
    }
    #outline, h1 {
        font-family: 'Sulphur Point', sans-serif;
        -webkit-text-fill-color: #1E233B;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-size: 200px;
        margin-top: -1100px;
        margin-left: 110px;
    }
    #skills, h2 {
        font-family: 'Sulphur Point', sans-serif;
        -webkit-text-fill-color: #1E233B;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-size: 200px;
        margin-top: 1200px;
        margin-left: 200px;
        margin-right: -500px;
    }
    .infobox {
        border-radius: 20px 0px 0px 20px;
        background-color: black;
        width: 900px;
        margin-left: 410px;
        padding-bottom: 50px;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 30px;
        color: white;
    }
    h3 {
        margin-left: 50px;
        padding-top: 75px;
    }
    .one {
        margin-left: 50px;
        padding-right: 200px;
        padding-top: 25px;
    }
    h4 {
        color: #0EA26C;
        margin-left: 50px;
        padding-top: 80px;
    }
    .two {
        margin-left: 50px;
        margin-right: 50px;
    }
    h5 {
        color: #0EA26C;
        margin-left: 50px;
        padding-top: 40px;
        font-size: xx-large;
    }
    li {
        margin-top: 30px;
        list-style: none;
    }
    .infobox2 {
        border-radius: 0px 20px 20px 0px;
        background-color: black;
        width: 900px;
        margin-left: 1320px;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 30px;
        color: white;
        padding-bottom: 50px;
        margin-top: -1051px;
    }
    H6 {
        font-size: 37px;
        padding-top: 75px;
        padding-left: 50px;
    }
    .summary {
        padding-left: 50px;
        margin-top: -35px;
        padding-right: 250px;
    }
    .heading {
        padding-left: 50px;
        padding-top: 60px;
        color: #0EA26C;
        font-weight: bold;
    }
    .list {
        padding-left: 50px;
    }
    .othertools {
        padding-left: 50px;
        padding-top: 38px;
        font-weight: bold;
        color: #0EA26C;
    }
    .projects {
        -webkit-text-fill-color: #1E233B;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-size: 200px;
        font-family: 'Sulphur Point', sans-serif;
        margin-left: 420px;
        margin-right: -100px;
    }
    .img {
        background-color: black;
        width: 200px;
        padding: 200px;
        border-radius: 20px 20px 20px 20px;
        margin-left: 200px;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 50px;
        font-weight: bold;
        height: 200px;
    }
    .img, a:link {
        text-decoration: none;
    }
    .img, a:visited {
        color: white;
    }
    .auto {
        background-color: black;
        width: 200px;
        padding: 200px;
        border-radius: 20px 20px 20px 20px;
        margin-left: 850px;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 50px;
        font-weight: bold;
        margin-top: -600px;
        margin-bottom: 100px;
        height: 200px;
    }
    .timetosser {
        background-color: black;
        width: 200px;
        padding: 200px;
        border-radius: 20px 20px 20px 20px;
        margin-left: 1500px;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 50px;
        font-weight: bold;
        margin-top: -700px;
        height: 200px;
    }
    .time {
        font-size: 20px;
        margin-top: 100px;
        width: 400px;
        margin-left: -100px;
        color: #0EA26C;
    }
    #btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }
    #btn:hover {
        background-color: #555;
    }
    .navbar {
        overflow: auto;
        background-color: black;
        position: relative;
        bottom: 0;
        width: 2342px;
        height: 125px;
        font-family: 'Sulphur Point', sans-serif;
    }
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 40px 32px;
        text-decoration: none;
        font-size: 20px;
    }
    .navbar a:hover {
        background: black;
        color: black;
    }
    .navbar a.active {
        background-color: #04AA6D;
        color: white;
    }
    .linked img {
        width: 50px;
        height: 50px;
        margin-left: 100px;
        margin-top: -10px;
    }
    /* The side navigation menu */
    .sidenav {
        font-family: 'Sulphur Point', sans-serif;
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        right: 0;
        background-color: #111;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidenav */
    }
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #0EA26C;
        display: block;
        transition: 0.3s
    }
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }
    /* Position and style the close button (top right corner) */
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px !important;
        margin-left: 50px;
    }
    span {
        float: right;
        margin-right: -950px;
        font-size: 50px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    @media screen and (max-width:768px) {
        #intro {
            font-family: 'Sulphur Point', sans-serif;
            color: white;
            margin-left: 100px;
            margin-top: 600px;
            margin-bottom: 150px;
            font-size: 60px;
            width: 600px;
        }
        .greg {
            width: 300px;
            height: 300px;
            margin-left: -1300px;
            margin-top: -450px;
        }
        .greg img {
            width: 350px;
            height: 375px;
            margin-top: -500px;
        }
        .button {
            background-color: #0EA26C;
            border: none;
            color: white;
            padding: 16px 35px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 10px;
        }
        .hire {
            margin-left: 300px;
            margin-top: -525px;
        }
        .hire .button:hover {
            background-color: black;
        }
        .slideshow {
            position: relative;
            background: #000000f1;
            width: 600px;
            margin-top: 550px;
            margin-left: 55px;
            padding: 25px;
            border-radius: 10px 10px 0px 0;
        }
        .slides {
            display: none;
            padding: 20px;
            text-align: center;
            font-size: 30px;
            font-family: 'Sulphur Point', sans-serif;
            color: #0EA26C;
        }
        .dots {
            text-align: center;
            padding: 25px;
            background: rgb(0, 0, 0);
            margin-top: 0px;
            width: 600px;
            margin-left: 55px;
            border-radius: 0px 0px 10px 10px;
        }
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        #about {
            font-family: 'Sulphur Point', sans-serif;
            color: white;
            margin-left: 75px;
            margin-top: 450px;
            font-size: 45px;
            overflow: visible;
            max-width: 650px;
        }
        #outline, h1 {
            font-family: 'Sulphur Point', sans-serif;
            -webkit-text-fill-color: #1E233B;
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            font-size: 100px;
            margin-top: -800px;
            margin-left: 60px;
        }
        #skills, h2 {
            font-family: 'Sulphur Point', sans-serif;
            -webkit-text-fill-color: #1E233B;
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            font-size: 100px;
            margin-top: 750px;
            margin-left: 60px;
            margin-right: 200px;
            width: 650px;
        }
        .infobox {
            border-radius: 20px 0px 0px 20px;
            background-color: black;
            width: 340px;
            margin-left: 30px;
            padding-bottom: 50px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 20px;
            color: white;
        }
        h3 {
            margin-left: 50px;
            padding-top: 75px;
        }
        .one {
            margin-left: 50px;
            padding-right: 50px;
            padding-top: 25px;
        }
        h4 {
            color: #0EA26C;
            margin-left: 50px;
            padding-top: 80px;
        }
        .two {
            margin-left: 50px;
            margin-right: 50px;
        }
        h5 {
            color: #0EA26C;
            margin-left: 50px;
            padding-top: 40px;
            font-size: 21px;
        }
        li {
            margin-top: 30px;
            list-style: none;
        }
        .infobox2 {
            border-radius: 0px 20px 20px 0px;
            background-color: black;
            width: 340px;
            margin-left: 370px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 20px;
            color: white;
            padding-bottom: 83px;
            margin-top: -884px;
        }
        H6 {
            font-size: 23px;
            padding-top: 75px;
            padding-left: 50px;
        }
        .summary {
            padding-left: 50px;
            margin-top: -35px;
            padding-right: 50px;
        }
        .heading {
            padding-left: 50px;
            padding-top: 60px;
            color: #0EA26C;
            font-weight: bold;
        }
        .list {
            padding-left: 50px;
        }
        .othertools {
            padding-left: 50px;
            padding-top: 38px;
            font-weight: bold;
            color: #0EA26C;
        }
        .projects {
            -webkit-text-fill-color: #1E233B;
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            font-size: 100px;
            font-family: 'Sulphur Point', sans-serif;
            margin-left: 150px;
            margin-right: 4px;
        }
        .img {
            background-color: black;
            width: 100px;
            padding: 100px;
            border-radius: 20px 20px 20px 20px;
            margin-left: 50px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 30px;
            font-weight: bold;
        }
        .img, a:link {
            text-decoration: none;
        }
        .img, a:visited {
            color: white;
        }
        .auto {
            background-color: black;
            width: 100px;
            padding: 100px;
            border-radius: 20px 20px 20px 20px;
            margin-left: 400px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 30px;
            font-weight: bold;
            margin-top: -300px;
        }
        .timetosser {
            background-color: black;
            width: 100px;
            padding: 100px;
            border-radius: 20px 20px 20px 20px;
            margin-left: 50px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 30px;
            font-weight: bold;
            margin-top: 100px;
            height: 200px;
            margin-top: -100px;
            margin-bottom: 200px;
        }
        .time {
            font-size: 12px;
            margin-top: 50px;
            width: 200px;
            margin-left: -50px;
            color: #0EA26C;
        }
        .time2 {
            font-size: 12px;
            margin-top: 50px;
            width: 200px;
            margin-left: -50px;
            color: #0EA26C;
        }
        .navbar {
            overflow: auto;
            background-color: black;
            position: relative;
            bottom: 0;
            width: 769px;
            height: 125px;
            font-family: 'Sulphur Point', sans-serif;
        }
    }
    @media screen and (max-width:414px) {
        #intro {
            font-family: 'Sulphur Point', sans-serif;
            color: white;
            margin-left: 100px;
            margin-top: 500px;
            font-size: 60px;
            width: 600px;
        }
        .greg img {
            width: 350px;
            height: 400px;
        }
        .about2 {
            font-stretch: wider;
            font: size 50px;
            width: 630px;
        }
        #outline {
            margin-top: -1000px;
        }
        #skills {
            margin-top: 900px;
        }
        .navbar {
            overflow: auto;
            background-color: black;
            position: relative;
            bottom: 0;
            width: 762px;
            height: 125px;
            font-family: 'Sulphur Point', sans-serif;
        }
        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 40px 32px;
            text-decoration: none;
            font-size: 20px;
        }
        .navbar a:hover {
            background: black;
            color: black;
        }
        .navbar a.active {
            background-color: #04AA6D;
            color: white;
        }
        .linked img {
            width: 50px;
            height: 50px;
            margin-left: 100px;
            margin-top: -10px;
        }
    }
    @media screen and (max-width:375px) {
        .greeting {
            font-family: 'Sulphur Point', sans-serif;
            color: #0EA26C;
            margin-left: 220px;
            margin-top: 125px;
            font-size: x-large;
            width: 1000px;
        }
        #intro {
            font-family: 'Sulphur Point', sans-serif;
            color: white;
            margin-left: 100px;
            margin-top: 900px;
            font-size: 100px;
            width: 1200px;
        }
        .greg {
            width: 550px;
            height: 550px;
            margin-top: -650px;
        }
        .greg img {
            width: 550px;
            height: 550px;
            border-radius: 360px;
        }
        .button {
            visibility: hidden;
        }
        .hire {
            margin-left: 300px;
            margin-top: -525px;
        }
        .hire .button:hover {
            background-color: black;
        }
        .slideshow {
            position: relative;
            background: #000000f1;
            width: 1025px;
            margin-top: 550px;
            margin-left: 55px;
            padding: 25px;
            border-radius: 10px 10px 0px 0;
        }
        .slides {
            display: none;
            padding: 20px;
            text-align: center;
            font-size: 30px;
            font-family: 'Sulphur Point', sans-serif;
            color: #0EA26C;
        }
        .dots {
            text-align: center;
            padding: 25px;
            background: rgb(0, 0, 0);
            margin-top: 0px;
            width: 1025px;
            margin-left: 55px;
            border-radius: 0px 0px 10px 10px;
        }
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        #about {
            margin-left: 100px;
            margin-top: 600px;
            overflow: visible;
        }
        .about2 {
            font-family: 'Sulphur Point', sans-serif;
            color: white;
            font-size: 50px;
            width: 1000px;
        }
        #outline {
            font-family: 'Sulphur Point', sans-serif;
            -webkit-text-fill-color: #1E233B;
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            font-size: 100px;
            margin-top: -300px;
            margin-left: 60px;
            width: 1000px;
        }
        #skills, h2 {
            font-family: 'Sulphur Point', sans-serif;
            -webkit-text-fill-color: #1E233B;
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            font-size: 100px;
            margin-top: 750px;
            margin-left: 60px;
            margin-right: 200px;
            width: 650px;
        }
        .infobox {
            border-radius: 20px 0px 0px 20px;
            background-color: black;
            width: 500px;
            margin-left: 150px;
            padding-bottom: 50px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 40px;
            color: white;
        }
        h3 {
            margin-left: 50px;
            padding-top: 75px;
        }
        .one {
            margin-left: 50px;
            padding-right: 50px;
            padding-top: 25px;
        }
        h4 {
            color: #0EA26C;
            margin-left: 50px;
            padding-top: 80px;
        }
        .two {
            margin-left: 50px;
            margin-right: 50px;
        }
        h5 {
            color: #0EA26C;
            margin-left: 50px;
            padding-top: 40px;
            font-size: 41px;
        }
        li {
            margin-top: 30px;
            list-style: none;
        }
        .infobox2 {
            border-radius: 0px 20px 20px 0px;
            background-color: black;
            width: 500px;
            margin-left: 650px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 40px;
            color: white;
            padding-bottom: 70px;
            margin-top: -1448px;
        }
        H6 {
            font-size: 50px;
            padding-top: 75px;
            padding-left: 50px;
        }
        .summary {
            padding-left: 50px;
            margin-top: -35px;
            padding-right: 50px;
        }
        .heading {
            padding-left: 50px;
            padding-top: 60px;
            color: #0EA26C;
            font-weight: bold;
        }
        .list {
            padding-left: 50px;
        }
        .othertools {
            padding-left: 50px;
            padding-top: 38px;
            font-weight: bold;
            color: #0EA26C;
        }
        .projects {
            -webkit-text-fill-color: #1E233B;
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            font-size: 100px;
            font-family: 'Sulphur Point', sans-serif;
            margin-left: 150px;
            margin-right: 4px;
            width: 500px;
        }
        .img {
            background-color: black;
            width: 100px;
            padding: 100px;
            border-radius: 20px 20px 20px 20px;
            margin-left: 150px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 400px;
        }
        .img, a:link {
            text-decoration: none;
        }
        .img, a:visited {
            color: white;
        }
        .auto {
            background-color: black;
            width: 100px;
            padding: 100px;
            border-radius: 20px 20px 20px 20px;
            margin-left: 500px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 30px;
            font-weight: bold;
            margin-top: -800px;
            margin-bottom: 400px;
        }
        .timetosser {
            background-color: black;
            width: 100px;
            padding: 100px;
            border-radius: 20px 20px 20px 20px;
            margin-left: 850px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 30px;
            font-weight: bold;
            margin-top: -800px;
        }
        .time {
            visibility: hidden;
        }
        .time2 {
            visibility: hidden;
        }
        .navbar {
            overflow: auto;
            background-color: black;
            position: relative;
            bottom: 0;
            width: 1300px;
            height: 125px;
            font-family: 'Sulphur Point', sans-serif;
        }
    }
}