@font-face {
    font-family: 'Sulphur Point', sans-serif;
    src: url(<link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap" rel="stylesheet">)
}

body {
    background: rgb(1, 0, 20);
    background: linear-gradient(90deg, rgba(1, 0, 20, 1) 10%, rgba(2, 0, 36, 1) 31%, rgba(40, 5, 59, 1) 66%, rgba(1, 97, 52, 1) 100%);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.pearson-image1 {
    visibility: hidden;
}

.img a:hover {
    color: #04AA6D;
}

.img a:active {
    color: white;
}

.img a:visited {
    color: white;
}

.linked img {
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: -10px;
}

.scrollUp {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
}

.greeting {
    font-family: 'Sulphur Point', sans-serif;
    color: #0EA26C;
    margin-left: 400px;
    margin-top: 300px;
    font-size: 50px;
}

.gregory {
    font-family: 'Sulphur Point', sans-serif;
    color: transparent;
    animation: color-change 3s infinite;
    margin-left: 400px;
    font-size: 100px;
    font-weight: bold;
}

@keyframes color-change {
    0% {
        color: rgb(255, 255, 255);
    }
    50% {
        color: rgb(31, 168, 209);
    }
    75% {
        color: purple
    }
    100% {
        color: rgb(11, 192, 72);
    }
}

#intro {
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    margin-left: 400px;
    margin-top: 100px;
    font-size: 50px;
    overflow: visible;
    max-width: 1200px;
}

.greg img {
    width: 100%;
    max-width: 600px;
    margin-left: 1500px;
    margin-top: -700px;
    border-radius: 30px;
}

.button {
    font-family: 'Sulphur Point', sans-serif;
    background-color: #0EA26C;
    border: none;
    color: white;
    padding: 50px 100px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: width .2s;
    margin-top: 200px;
}

.hire {
    margin-left: 1550px;
    margin-top: -600px;
}

.hire .button:hover {
    background-color: black;
    width: 100px;
}

#about {
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    margin-left: 400px;
    margin-top: 150px;
    font-size: 70px;
    overflow: visible;
    max-width: 1500px;
}

#outline, h1 {
    font-family: 'Sulphur Point', sans-serif;
    -webkit-text-fill-color: #1E233B;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 200px;
    margin-top: 800px;
    margin-left: 200px;
}

#skills, h2 {
    font-family: 'Sulphur Point', sans-serif;
    -webkit-text-fill-color: #1E233B;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 200px;
    margin-top: 750px;
    margin-left: 200px;
    margin-right: 200px;
}

.infobox {
    border-radius: 20px 0px 0px 20px;
    background-color: black;
    max-width: 900px;
    width: 100%;
    margin-left: 410px;
    padding-bottom: 50px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 30px;
    color: white;
}

h3 {
    margin-left: 50px;
    padding-top: 75px;
}

.one {
    margin-left: 50px;
    padding-right: 200px;
    padding-top: 25px;
}

h4 {
    color: #0EA26C;
    margin-left: 50px;
    padding-top: 80px;
}

.two {
    margin-left: 50px;
    margin-right: 50px;
}

h5 {
    color: #0EA26C;
    margin-left: 50px;
    padding-top: 40px;
    font-size: xx-large;
}

li {
    margin-top: 30px;
    list-style: none;
}

.infobox2 {
    border-radius: 0px 20px 20px 0px;
    background-color: black;
    max-width: 900px;
    width: 100%;
    margin-left: 1320px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 30px;
    color: white;
    padding-bottom: 50px;
    margin-top: -1051px;
}

H6 {
    font-size: 37px;
    padding-top: 75px;
    padding-left: 50px;
}

.summary {
    padding-left: 50px;
    margin-top: -35px;
    padding-right: 250px;
}

.heading {
    padding-left: 50px;
    padding-top: 60px;
    color: #0EA26C;
    font-weight: bold;
}

.list {
    padding-left: 50px;
}

.othertools {
    padding-left: 50px;
    padding-top: 38px;
    font-weight: bold;
    color: #0EA26C;
}

.projects {
    -webkit-text-fill-color: #1E233B;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 200px;
    font-family: 'Sulphur Point', sans-serif;
    margin-left: 420px;
    margin-right: 600px;
}

.summary-pearson {
    background-color: white;
    width: 7.9%;
    max-width: 200px;
    padding: 100px;
    border-radius: 0px 0px 20px 20px;
    margin-left: 400px;
    height: 175px;
    display: block;
}

.text-pearson {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 12%;
    margin-left: 450px;
    margin-top: -350px;
}

.img {
    background-color: black;
    max-width: 200px;
    width: 7.9%;
    padding: 100px;
    border-radius: 20px 20px 0px 0px;
    margin-left: 400px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 35px;
    font-weight: bold;
    max-height: 75px;
    margin-top: 100px;
}

.pearson-image img {
    width: 35%;
    height: auto;
    margin-left: 925px;
    margin-top: -620px;
}

.img, a:link {
    text-decoration: none;
}

.img, a:visited {
    color: white;
}

.Auto-detail {
    background-color: black;
    max-width: 200px;
    width: 7.9%;
    padding: 100px;
    border-radius: 20px 20px 0px 0px;
    margin-left: 400px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 35px;
    font-weight: bold;
    max-height: 75px;
    margin-top: 200px;
}

.summary-detail {
    background-color: white;
    width: 7.9%;
    max-width: 200px;
    padding: 100px;
    border-radius: 0px 0px 20px 20px;
    margin-left: 400px;
    height: 175px;
    display: block;
    margin-bottom: 800px;
}

.text-detail {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 12%;
    margin-left: 450px;
    margin-top: -1100px;
}

.timetoss {
    background-color: black;
    max-width: 200px;
    width: 7.9%;
    padding: 100px;
    border-radius: 20px 20px 0px 0px;
    margin-left: 400px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 35px;
    font-weight: bold;
    max-height: 75px;
    margin-top: 200px;
}

.summary-time {
    background-color: white;
    width: 7.9%;
    max-width: 200px;
    padding: 100px;
    border-radius: 0px 0px 20px 20px;
    margin-left: 400px;
    height: 175px;
    display: block;
    margin-bottom: 0px;
}

.summary-time p {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
    margin-left: -50px;
    margin-top: -80px;
}

.time {
    font-size: 20px;
    margin-top: 100px;
    width: 400px;
    margin-left: -100px;
    color: #0EA26C;
}

#btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#btn:hover {
    background-color: #555;
}

.linked img {
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: -10px;
}

/* The side navigation menu */

.sidenav {
    font-family: 'Sulphur Point', sans-serif;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0EA26C;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

span {
    float: left;
    font-size: 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    right: 4.5rem;
    top: 4.5rem;
    cursor: pointer;
}

.navbar {
    overflow: auto;
    background-color: black;
    position: relative;
    width: 100%;
    margin: 0 auto 0;
    height: 125px;
    font-family: 'Sulphur Point', sans-serif;
    padding: -1px;
    margin-top: 200px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 32px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background: #0EA26C;
    color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-width: 2210px) {
    .pearson-image1 {
        visibility: hidden;
    }
    .text-pearson {
        font-family: 'Sulphur Point', sans-serif;
        font-size: 17px;
        font-weight: bold;
        width: 12%;
        margin-left: 450px;
        margin-top: -350px;
    }
    .text-time {
        font-size: 17px;
        margin-top: -1150px;
    }
    @media screen and (max-width:2300px) {
        .pearson-image1 {
            visibility: hidden;
        }
        .greg img {
            width: 100%;
            max-width: 400px;
            margin-left: 1400px;
            margin-top: -700px;
        }
        .hire {
            margin-left: 1550px;
            margin-top: -430px;
        }
        #outline, h1 {
            font-family: 'Sulphur Point', sans-serif;
            -webkit-text-fill-color: #1E233B;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            font-size: 10rem;
            margin-top: 700px;
            margin-left: 170px;
        }
        #about {
            font-family: 'Sulphur Point', sans-serif;
            color: white;
            margin-left: 200px;
            margin-right: 170px;
            margin-top: 150px;
            font-size: 3.5rem;
            overflow: visible;
            max-width: 1500px;
        }
        #skills, h2 {
            font-family: 'Sulphur Point', sans-serif;
            -webkit-text-fill-color: #1E233B;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            font-size: 8rem;
            margin-top: 350px;
            margin-left: 170px;
            margin-right: 200px;
        }
        .projects {
            font-size: 8rem;
            width: 700px;
        }
        .infobox {
            border-radius: 20px 0px 0px 20px;
            background-color: black;
            max-width: 900px;
            width: 50%;
            margin-left: 15px;
            padding-bottom: 50px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 1.5rem;
            color: white;
        }
        .infobox2 {
            border-radius: 0px 20px 20px 0px;
            background-color: black;
            max-width: 900px;
            width: 50%;
            margin-left: 750px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 1.5rem;
            color: white;
            padding-bottom: 50px;
            margin-top: -968px;
        }
    }
    @media screen and (max-width:1500px) {
        .pearson-image img {
            width: 40%;
            margin-left: 800px;
            position: relative;
        }
        .text-pearson {
            font-size: 0.9rem;
        }
        .text-detail {
            font-size: 1.2rem;
        }
    }
    .summary-time p {
        font-size: 1.1rem;
        margin-left: -80px;
        width: 250px;
    }
    .greg img {
        width: 100%;
        max-width: 400px;
        margin-left: 1400px;
        margin-top: -700px;
    }
    .hire {
        margin-left: 1550px;
        margin-top: -430px;
    }
    #outline, h1 {
        font-family: 'Sulphur Point', sans-serif;
        -webkit-text-fill-color: #1E233B;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-size: 10rem;
        margin-top: 700px;
        margin-left: 170px;
    }
    #about {
        font-family: 'Sulphur Point', sans-serif;
        color: white;
        margin-left: 200px;
        margin-right: 170px;
        margin-top: 150px;
        font-size: 3.5rem;
        overflow: visible;
        max-width: 1500px;
    }
    #skills, h2 {
        font-family: 'Sulphur Point', sans-serif;
        -webkit-text-fill-color: #1E233B;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-size: 8rem;
        margin-top: 350px;
        margin-left: 170px;
        margin-right: 200px;
    }
    .projects {
        font-size: 8rem;
        width: 700px;
    }
    .infobox {
        border-radius: 20px 0px 0px 20px;
        background-color: black;
        max-width: 600px;
        width: 50%;
        margin-left: 150px;
        padding-bottom: 50px;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 1.2rem;
        color: white;
    }
    .infobox2 {
        border-radius: 0px 20px 20px 0px;
        background-color: black;
        max-width: 600px;
        width: 50%;
        margin-left: 750px;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 1.2rem;
        color: white;
        padding-bottom: 50px;
        margin-top: -914px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width:1366px) {
    #intro {
        font-size: 2rem;
    }
    #skills h2 {
        font-size: 6rem;
        width: 100%;
        margin-left: auto
    }
    .projects {
        margin-left: 200px;
    }
    .infobox {
        border-radius: 20px 0px 0px 20px;
        background-color: black;
        max-width: 400px;
        width: 50%;
        margin-left: 150px;
        padding-bottom: 50px;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 1.2rem;
        color: white;
    }
    .infobox2 {
        border-radius: 0px 20px 20px 0px;
        background-color: black;
        max-width: 400px;
        width: 50%;
        margin-left: 550px;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 1.1rem;
        color: white;
        padding-bottom: 50px;
        margin-top: -988px;
        height: 851px;
    }
    .pearson-image img {
        width: 40%;
        margin-left: 800px;
        position: relative;
    }
    .text-pearson {
        font-size: 0.9rem;
    }
    .text-detail {
        font-size: 1.2rem;
    }
    .summary-time p {
        font-size: 1.1rem;
        margin-left: -80px;
        width: 250px;
    }
    .portfolio-work {
        margin-left: -300px;
    }
}

@media screen and (max-width:768px) {
    #intro {
        font-family: 'Sulphur Point', sans-serif;
        color: white;
        margin-left: 100px;
        margin-top: 50px;
        font-size: 2rem;
        width: 600px;
    }
    .gregory {
        font-size: 3rem;
        margin-left: 100px;
        margin-top: -20px;
    }
    .greeting {
        margin-top: 250px;
        margin-left: 100px;
        font-size: 2.5rem;
    }
    #outline h1 {
        margin-top: 900px;
        font-size: 5rem;
        margin-left: -75px;
    }
    .button {
        background-color: #0EA26C;
        border: none;
        color: white;
        padding: 16px 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
    }
    .hire {
        margin-left: 300px;
        margin-top: -525px;
    }
    .hire .button:hover {
        background-color: black;
    }
    #about {
        font-family: 'Sulphur Point', sans-serif;
        color: white;
        margin-left: 75px;
        font-size: 2rem;
        overflow: visible;
        max-width: 550px;
    }
    #skills h2 {
        font-family: 'Sulphur Point', sans-serif;
        -webkit-text-fill-color: #1E233B;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-size: 4rem;
        margin-top: 150px;
        margin-left: -80px;
        margin-right: 200px;
        width: 650px;
    }
    .infobox {
        border-radius: 20px 0px 0px 20px;
        background-color: black;
        width: 340px;
        margin-left: 30px;
        padding-bottom: 50px;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 20px;
        color: white;
    }
    h3 {
        margin-left: 50px;
        padding-top: 75px;
    }
    .one {
        margin-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
    }
    h4 {
        color: #0EA26C;
        margin-left: 50px;
        padding-top: 80px;
    }
    .two {
        margin-left: 50px;
        margin-right: 50px;
    }
    h5 {
        color: #0EA26C;
        margin-left: 50px;
        padding-top: 40px;
        font-size: 21px;
    }
    li {
        margin-top: 30px;
        list-style: none;
    }
    .infobox2 {
        border-radius: 0px 20px 20px 0px;
        background-color: black;
        width: 340px;
        margin-left: 370px;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 20px;
        color: white;
        padding-bottom: 83px;
        margin-top: -884px;
        height: 748px;
    }
    H6 {
        font-size: 23px;
        padding-top: 75px;
        padding-left: 50px;
    }
    .summary {
        padding-left: 50px;
        margin-top: -35px;
        padding-right: 50px;
    }
    .heading {
        padding-left: 50px;
        padding-top: 60px;
        color: #0EA26C;
        font-weight: bold;
    }
    .list {
        padding-left: 50px;
    }
    .othertools {
        padding-left: 50px;
        padding-top: 38px;
        font-weight: bold;
        color: #0EA26C;
    }
    .projects {
        -webkit-text-fill-color: #1E233B;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-size: 4rem;
        font-family: 'Sulphur Point', sans-serif;
        margin-left: 50px;
        margin-right: 4px;
    }
    .portfolio-work {
        margin-left: -350px;
    }
    .pearson-image {
        margin-left: -100px;
        width: 90%;
        margin-top: -300px;
    }
    @media screen and (max-width:414px) {
        span {
            font-size: 2rem;
            margin-right: -40px;
        }
        #intro {
            font-family: 'Sulphur Point', sans-serif;
            color: white;
            margin-left: 100px;
            margin-top: 50px;
            font-size: 1.5rem;
            width: 275px;
        }
        .gregory {
            font-size: 3rem;
            margin-left: 100px;
            margin-top: -20px;
        }
        .greeting {
            margin-top: 100px;
            margin-left: 100px;
            font-size: 2rem;
        }
        #outline h1 {
            margin-top: -500px;
            font-size: 5rem;
            margin-left: -75px;
        }
        .button {
            background-color: #0EA26C;
            border: none;
            color: white;
            padding: 30px 60px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 10px;
            margin-top: 600px;
            margin-left: -200px;
        }
        .hire {
            margin-left: 300px;
            margin-top: -525px;
        }
        .hire .button:hover {
            background-color: black;
        }
        #about {
            font-family: 'Sulphur Point', sans-serif;
            color: white;
            margin-left: 40px;
            font-size: 1.6rem;
            overflow: visible;
            max-width: 550px;
        }
        .about2 {
            width: 330px;
        }
        #skills h2 {
            font-family: 'Sulphur Point', sans-serif;
            -webkit-text-fill-color: #1E233B;
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            font-size: 4rem;
            margin-top: 150px;
            margin-left: -80px;
            margin-right: 200px;
            width: 350px;
        }
        .infobox {
            border-radius: 20px 0px 0px 20px;
            background-color: black;
            width: 180px;
            margin-left: px;
            padding-bottom: 50px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 0.8rem;
            color: white;
        }
        h3 {
            margin-left: 50px;
            padding-top: 75px;
        }
        .one {
            margin-left: 50px;
            padding-right: 50px;
            padding-top: 25px;
        }
        h4 {
            color: #0EA26C;
            margin-left: 50px;
            padding-top: 80px;
        }
        .two {
            margin-left: 50px;
            margin-right: 50px;
        }
        h5 {
            color: #0EA26C;
            margin-left: 50px;
            padding-top: 40px;
            font-size: 21px;
        }
        li {
            margin-top: 30px;
            list-style: none;
        }
        .infobox2 {
            border-radius: 0px 20px 20px 0px;
            background-color: black;
            width: 180px;
            margin-left: 210px;
            font-family: 'Sulphur Point', sans-serif;
            font-size: 0.7rem;
            color: white;
            padding-bottom: 83px;
            margin-top: -842px;
            height: 705px;
        }
        H6 {
            font-size: 23px;
            padding-top: 75px;
            padding-left: 50px;
        }
        .summary {
            padding-left: 50px;
            margin-top: -35px;
            padding-right: 50px;
        }
        .heading {
            padding-left: 50px;
            padding-top: 60px;
            color: #0EA26C;
            font-weight: bold;
        }
        .list {
            padding-left: 50px;
        }
        .othertools {
            padding-left: 50px;
            padding-top: 38px;
            font-weight: bold;
            color: #0EA26C;
        }
        .projects {
            -webkit-text-fill-color: #1E233B;
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            font-size: 4rem;
            font-family: 'Sulphur Point', sans-serif;
            margin-left: 50px;
            margin-right: 4px;
            width: 370px;
        }
        .portfolio-work {
            margin-left: -350px;
        }
        .pearson-image {
            visibility: hidden;
        }
        .Auto-detail {
            font-size: 1.5rem;
        }
        .text-detail {
            font-size: 1.1rem;
            width: 200px;
        }
        .text-pearson {
            font-size: 1rem;
            width: 200px;
        }
        .summary-time p {
            font-size: 1rem;
            width: 200px;
        }
        .timetoss {
            font-size: 1.5rem;
        }
        .img {
            font-size: 1.5rem;
        }
        @media screen and (max-width:375px) {
            #about {
                font-family: 'Sulphur Point', sans-serif;
                color: white;
                margin-left: 40px;
                font-size: 1.6rem;
                overflow: visible;
                max-width: 550px;
            }
            .about2 {
                width: 330px;
            }
            #skills h2 {
                font-family: 'Sulphur Point', sans-serif;
                -webkit-text-fill-color: #1E233B;
                /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: white;
                font-size: 3rem;
                margin-top: 150px;
                margin-left: -100px;
                margin-right: 200px;
                width: 350px;
            }
            .infobox {
                border-radius: 20px 0px 0px 20px;
                background-color: black;
                width: 180px;
                margin-left: 10px;
                padding-bottom: 50px;
                font-family: 'Sulphur Point', sans-serif;
                font-size: 0.8rem;
                color: white;
            }
            h3 {
                margin-left: 50px;
                padding-top: 75px;
            }
            .one {
                margin-left: 50px;
                padding-right: 50px;
                padding-top: 25px;
            }
            h4 {
                color: #0EA26C;
                margin-left: 50px;
                padding-top: 80px;
            }
            .two {
                margin-left: 50px;
                margin-right: 50px;
            }
            h5 {
                color: #0EA26C;
                margin-left: 50px;
                padding-top: 40px;
                font-size: 21px;
            }
            li {
                margin-top: 30px;
                list-style: none;
            }
            .infobox2 {
                border-radius: 0px 20px 20px 0px;
                background-color: black;
                width: 180px;
                margin-left: 190px;
                font-family: 'Sulphur Point', sans-serif;
                font-size: 0.7rem;
                color: white;
                padding-bottom: 83px;
                margin-top: -842px;
                height: 705px;
            }
        }
    }
}